# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte I - Exercícios</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

#### <font color="red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</font>

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">WorldCups.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- **Year**: ano da copa
- **Country**: país sede
- **Winner**: campeão
- **RunnersUp**: disputou a final com o campeão
- **Third**: terceiro colocado
- **Fourth**: quarto colocado
- **GoalsScored**: número de gols na copa
- **QualifiedTeams**: número de times que disputaram a copa
- **MatchesPlayed**: número de jogos
- **Attendance**: número de espectadores (público)

In [1]:
import numpy as np
import pandas as pd

### Exercício 1) 
Utilizando o <font color='blue'>pandas</font>, leia o arquivo <font style="font-family: monaco">WorldCups.csv</font>, definindo a coluna 'Year' como índice das linhas, e armazene-o em uma variável tipo DataFrame. 
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame

In [2]:
# SOLUÇÃO
df = pd.read_csv('WorldCups.csv', index_col='Year')
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [3]:
# tipo de dado de cada coluna
df.dtypes

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int64
dtype: object

In [4]:
# numero de linhas
df.shape[0]

20

### Exercício 2) 
Remova as colunas 'QualifiedTeams' e 'MatchesPlayed' do DataFrame.

In [6]:
# SOLUÇÃO
df.drop(['QualifiedTeams', 'MatchesPlayed'], axis=1)

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,768607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,893172
1966,England,England,Germany FR,Portugal,Soviet Union,89,1563135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,1603975
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,1865753
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,1545791
1982,Spain,Italy,Germany FR,Poland,France,146,2109723
1986,Mexico,Argentina,Germany FR,France,Belgium,132,2394031
1990,Italy,Germany FR,Argentina,Italy,England,115,2516215
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,3587538
1998,France,France,Brazil,Croatia,Netherlands,171,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,2705197
2006,Germany,Italy,France,Germany,Portugal,147,3359439
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,3178856
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,3386810

### Exercício 3) 
Exiba os países sede da copa entre os anos 1954 e 1982 (inclusive)

In [16]:
# SOLUÇÃO


print('\nAcessando as linhas com indice 4 a 11 e a coluna 0')
print(df.iloc[4:12,0:1]) # slicing o DataFrame
                         # o resutlado do slicing é um DataFrame (como um view do numpy)
                         # note que o metodo iloc não inclui o último elemento
    
print('\nAcessando as linhas entre os rótulos "1954" e "1982" na coluna "Country"')
print(df.loc['1954':'1982','Country']) # acessando múltiplas linhas via slicing
                                       # note que o metodo loc inclui o último elemento

Acessando as linhas com indice 4 a 11 e a coluna 0
          Country
Year
1954  Switzerland
1958       Sweden
1962        Chile
1966      England
1970       Mexico
1974      Germany
1978    Argentina
1982        Spain

Acessando as linhas entre os rótulos "1954" e "1982" na coluna "Country"
Year
1954    Switzerland
1958         Sweden
1962          Chile
1966        England
1970         Mexico
1974        Germany
1978      Argentina
1982          Spain
Name: Country, dtype: object

### Exercício 4) 
Encontre e imprima:
- os anos em que o Brasil ganhou a copa 
- os anos em que o Brasil jogou uma final (a final é dada pelas colunas 'Winner' e 'RunnersUp') 
- a proporção de vitórias do Brasil em finais

In [27]:
# SOLUÇÃO
# O método loc aceita expressoes booleanas
# print('anos em que o Brasil ganhou a copa: ', df.loc[df['Winner'] == 'Brazil'].index.values) 

ganhou = df.query("Winner == 'Brazil'")
participou = df.query('Winner == "Brazil" | RunnersUp == "Brazil"')

print('anos em que o Brasil ganhou a copa: ', ganhou.index.values)
    
print('anos em que o Brasil jogou uma final: ', participou.index.values)

print('proporção: ', ganhou.shape[0]/participou.shape[0])

anos em que o Brasil ganhou a copa:  [1958 1962 1970 1994 2002]
anos em que o Brasil jogou uma final:  [1950 1958 1962 1970 1994 1998 2002]
proporção:  0.7142857142857143

### Exercício 5) 
Quais foram as 5 copas com mais gols? 

__Dica:__ Ordene o DataFrame

In [37]:
# SOLUÇÃO
mais_gols = df['GoalsScored'].sort_values()
mais_gols.iloc[-5:]
# mais_gols.tail()

Year
1982    146
2006    147
2002    161
1998    171
2014    171
Name: GoalsScored, dtype: int64

### Exercício 6) 
Utilize o método <font color='blue'>value_counts</font> para encontrar o número de vezes que cada país ganhou a copa.

In [39]:
# SOLUÇÃO
df['Winner'].value_counts()

Brazil        5
Italy         4
Germany FR    3
Uruguay       2
Argentina     2
England       1
Germany       1
France        1
Spain         1
Name: Winner, dtype: int64

### Exercício 7)
Quais foram as 5 copas com maior público? Imprima apenas o ano, o país e o público.

In [46]:
# solucao
publico = df[['Country', 'Attendance']].sort_values('Attendance')
publico[-5:]

           Country  Attendance
Year
1998        France     2785100
2010  South Africa     3178856
2006       Germany     3359439
2014        Brazil     3386810
1994           USA     3587538

### Exercício 8)
Construa um dicionário onde as chaves são os países que já participaram de uma final e os valores são o número de vezes que o país participou da final.

In [63]:
# SOLUÇÃO
dict = {}
campeao = df['Winner']
vice = df['RunnersUp']

for i in range(df.shape[0]):
    if campeao.iloc[i] in dict:
        dict[campeao.iloc[i]] += 1
    else:
        dict[campeao.iloc[i]] = 1
    if vice.iloc[i] in dict:
        dict[vice.iloc[i]] += 1
    else:
        dict[vice.iloc[i]] = 1

print('Participaram de finais: ', dict, '\n')

print('Participaram de finais: \n')
for c,v in dict.items():
    print(c,': ',v)

Participaram de finais:  {'Uruguay': 2, 'Argentina': 5, 'Italy': 6, 'Czechoslovakia': 2, 'Hungary': 2, 'Brazil': 7, 'Germany FR': 6, 'Sweden': 1, 'England': 1, 'Netherlands': 3, 'France': 2, 'Germany': 2, 'Spain': 1}

Participaram de finais:

Uruguay :  2
Argentina :  5
Italy :  6
Czechoslovakia :  2
Hungary :  2
Brazil :  7
Germany FR :  6
Sweden :  1
England :  1
Netherlands :  3
France :  2
Germany :  2
Spain :  1

### Exercício 9) 
Construa um dicionário com todos os países que já participaram de uma semi-final de copa (os quatro finalistas), onde a chave é o país e o valor corresponde ao número de vezes que o país foi um semi-finalista.

In [65]:
# SOLUÇÃO
finalista = {}
for i in range(df.shape[0]):
    pais1 = df['Winner'].iloc[i]
    pais2 = df['RunnersUp'].iloc[i]
    pais3 = df['Third'].iloc[i]
    pais4 = df['Fourth'].iloc[i]
    
    if pais1 in finalista:
        finalista[pais1] += 1
    else:
        finalista[pais1] = 1
    if pais2 in finalista:
        finalista[pais2] += 1
    else:
        finalista[pais2] = 1
    if pais3 in finalista:
        finalista[pais3] += 1
    else:
        finalista[pais3] = 1
    if pais4 in finalista:
        finalista[pais4] += 1
    else:
        finalista[pais4] = 1

print('Participaram de semi-finais: \n')
for c,v in finalista.items():
    print(c,': ',v)

Participaram de semi-finais:

Uruguay :  5
Argentina :  5
USA :  1
Yugoslavia :  2
Italy :  8
Czechoslovakia :  2
Germany :  5
Austria :  2
Hungary :  2
Brazil :  11
Sweden :  4
Spain :  2
Germany FR :  8
France :  5
Chile :  1
England :  2
Portugal :  2
Soviet Union :  1
Netherlands :  5
Poland :  2
Belgium :  1
Bulgaria :  1
Croatia :  1
Turkey :  1
Korea Republic :  1