# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte II - Avaliação</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

Os exercícios a seguir farão uso dos arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> disponíveis para download no sistema _Moodle_.

In [142]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [143]:
# Os comandos abaixo são apenas para modificar como as informações serão apresentadas
# no notebook

# mostra no máximo 50 colunas
pd.set_option('display.max_columns', 50)

# aumenta o tamanho das figuras geradas pelo matplotlib
plt.rcParams['figure.figsize'] = (10.0, 8.0)

### Exercício 1)
Carregue os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font>, armazenando-os em variáveis tipo DataFrame chamadas `escolas` e `enem` respectivamente. 
Os arquivos <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas CODESC e CODIGO DA ENTIDADE, respectivamente.

Quantas escolas cujo código aparece no arquivo <font style="font-family: monaco">ENEM2015.csv</font> tambem aparecem em <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font>?

<font color='red'>a) 1243 escolas</font><br>
b) 1043 escolas <br>
c) 10243 escolas <br>
d) 1003 escolas

**Dica**: Utilize o método <font color='blue'>isin</font> do <font color='blue'>pandas</font>.

In [144]:
escolas = pd.read_csv('ESC2013_RMSP_CEM.csv')
print('DataFrame escolas:\n', escolas.columns)
enem = pd.read_csv('ENEM2015.csv')
print('DataFrame enem:\n',enem.columns)

DataFrame escolas:
 Index(['ID', 'LONGITUDE', 'LATITUDE', 'CODESC', 'CODESCTX', 'NOMEESC',
       'NOMEMUN', 'CODMUN', 'NOMDIST', 'CODDIST',
       ...
       'IDEB11AF', 'IDEB13AF', 'RED_EN13', 'LC_EN13', 'MAT_EN13', 'CH_EN13',
       'CN_EN13', 'ENEM2013', 'INSE_AB', 'INSE_CL'],
      dtype='object', length=136)
DataFrame enem:
 Index(['CODIGO DA ENTIDADE', 'NUMERO DE PARTICIPANTES', 'Classificacao'], dtype='object')

In [145]:
escolas.shape

(10937, 136)

In [146]:
enem.shape

(1243, 3)

In [147]:
escolas['CODESC'].values

array([35080548, 35352524, 35069929, ..., 35224807, 35662082, 35249191],
      dtype=int64)

In [148]:
contagem = escolas['CODESC'].isin(enem['CODIGO DA ENTIDADE']).value_counts()
contagem

False    9694
True     1243
Name: CODESC, dtype: int64

In [149]:
print('Número de escolas presentes nos 2 DataFrames:', contagem[1])

Número de escolas presentes no 2 DataFrames: 1243

### Exercício 2)

Verifique quantos valores faltantes existem em cada um dos DataFrames:

a) `escolas`: 776346 valores faltantes; `enem`: 0 valores faltantes <br>
<font color='red'>b) `escolas`: 776346 valores faltantes; `enem`: 1 valor faltante</font> <br>
c) `escolas`: 7346 valores faltantes; `enem`: 103 valores faltantes <br>
d) `escolas`: 7346 valores faltantes; `enem`: 10 valores faltantes

In [150]:
faltantes_1 = escolas.isna().sum(axis=0).sum()
faltantes_2 = enem.isna().sum(axis=0).sum()

print('dados faltantes:\n', 'escolas:', faltantes_1, 'valores faltantes; enem:', faltantes_2, 'valor faltante' )

dados faltantes:
 escolas: 776346 valores faltantes; enem: 1 valor faltante

In [151]:
escolas.isna().sum().sum()

776346

### Exercício 3)
No DataFrame `escolas`, qual o rótulo da coluna com o maior número de valores faltantes.

a) LP05_AF<br>
b) MAT05_AF <br>
c) IDEB05AF <br>
<font color='red'>d) COD_SC </font>

__Dica__: Utilize uma combinação dos comandos <font color='blue'>isna</font>, <font color='blue'>sum</font> e <font color='blue'>idxmax</font> do <font color='blue'>pandas</font>

In [152]:
nulos_por_coluna = escolas.isna().sum().sort_values(ascending=False)
nulos_por_coluna

COD_SC       10937
LP05_AF      10479
NP05_AF      10479
MAT05_AF     10479
IDEB05AF     10479
             ...
REG_MED          0
REG_FU_9A        0
REG_FU_8A        0
REG_IN_PE        0
ID               0
Length: 136, dtype: int64

In [153]:
# Coluna com mais valores faltantes
nulos_por_coluna.idxmax()

'COD_SC'

In [154]:
# Quantidade de valores faltantes na coluna
nulos_por_coluna.max()

10937

### Exercício 4)

O DataFrame `enem` possui valores faltantes na coluna 'Classificacao'. Preencha os valores faltantes com o valor da 'moda' da coluna. Qual o valor da moda utilizado para preencher os valores faltantes?

a) 1<br>
<font color='red'>b) 2</font><br>
c) 3<br>
d) 4

In [165]:
# Qtidade de valores faltantes na coluna Classificacao do Enem
enem['Classificacao'].isna().sum()

1

In [155]:
modas = enem.mode() # retorna df onde 1a.linha é a moda, 2a.linha é a moda em caso de empate e assim por diante
modas.head()

   CODIGO DA ENTIDADE  NUMERO DE PARTICIPANTES  Classificacao
0            35000139                     11.0            2.0
1            35000140                      NaN            NaN
2            35000267                      NaN            NaN
3            35000280                      NaN            NaN
4            35000334                      NaN            NaN

In [156]:
enem_preenchido = enem.fillna(value=modas.iloc[0])  # preenche os valores faltantes com a linha índice 0 do df modas
enem_preenchido

      CODIGO DA ENTIDADE  NUMERO DE PARTICIPANTES  Classificacao
0               35000139                      142            1.0
1               35000140                       79            1.0
2               35000267                      131            2.0
3               35000280                      146            1.0
4               35000334                       95            1.0
...                  ...                      ...            ...
1238            35925603                       81            2.0
1239            35925639                       98            2.0
1240            35925834                       64            1.0
1241            35925871                      134            2.0
1242            35990012                      122            3.0

[1243 rows x 3 columns]

In [157]:
# Verificando que não restam valores faltantes
print('Numero de valores faltantes =',enem_preenchido.isna().sum(axis=0).sum())

Numero de valores faltantes = 0

### Exercício 5)
Os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas _CODESC_ e _CODIGO DA ENTIDADE_, respectivamente.

Busque na coluna 'NUMERO DE PARTICIPANTES' do DataFrame `enem` o código das escolas com o menor número de participantes no ENEM. Utilizando o código obtido, imprima os nomes de tais escolas (armazenado na coluna 'NOMEESC' do DataFrame `escolas`). Uma das escolas com o menor número de participantes é:

<font color='red'>a) TEOTONIO ALVES PEREIRA</font><br>
b) THAMARA CORREA DE MATOS<br>
c) BRASILIO FLORES DE AZEVEDO<br>
d) OSWALDO SAMMARTINO

In [158]:
# Número mínimo de alunos participantes
enem['NUMERO DE PARTICIPANTES'].min()

10

In [159]:
# Contagem da frequência de participação 
enem['NUMERO DE PARTICIPANTES'].value_counts()

11     40
12     31
14     31
10     30
20     26
       ..
204     1
205     1
206     1
207     1
112     1
Name: NUMERO DE PARTICIPANTES, Length: 201, dtype: int64

In [160]:
# Relação dos códigos das escolas com menor número de participantes no Enem
menor_participacao = enem.loc[enem['NUMERO DE PARTICIPANTES'] == 10, 'CODIGO DA ENTIDADE']
print('Número de escolas com menor participação no Enem:', len(menor_participacao))
print(menor_participacao)

Número de escolas com menor participação no Enem: 30
110     35004510
326     35100161
371     35101795
380     35101990
416     35103512
447     35105824
574     35119210
582     35119611
584     35119660
593     35120509
598     35122956
624     35125908
661     35133152
673     35133942
674     35134120
740     35139622
780     35142505
856     35153692
876     35155299
881     35157478
890     35158823
896     35159359
954     35173666
967     35176597
1093    35439642
1095    35440310
1130    35801458
1152    35807825
1172    35812031
1173    35812912
Name: CODIGO DA ENTIDADE, dtype: int64

In [161]:
# Separando os códigos das escolas dos índices do dataframe
codesc_menorpart = menor_participacao.values
codesc_menorpart

array([35004510, 35100161, 35101795, 35101990, 35103512, 35105824,
       35119210, 35119611, 35119660, 35120509, 35122956, 35125908,
       35133152, 35133942, 35134120, 35139622, 35142505, 35153692,
       35155299, 35157478, 35158823, 35159359, 35173666, 35176597,
       35439642, 35440310, 35801458, 35807825, 35812031, 35812912],
      dtype=int64)

In [162]:
# Checando a posição índice 0
escolas.loc[escolas['CODESC'] == codesc_menorpart[0]]['NOMEESC'].values

array(['TEOTONIO ALVES PEREIRA'], dtype=object)

In [163]:
# Construindo dicionário código:nomes das escolas com menor número de participantes no Enem
relacao_escolas = {}

for i in range(len(codesc_menorpart)):
    relacao_escolas[codesc_menorpart[i]] = escolas.loc[escolas['CODESC'] == codesc_menorpart[i], 'NOMEESC'].values[0]
    
relacao_escolas

{35004510: 'TEOTONIO ALVES PEREIRA',
 35100161: 'CENTENARIO COLEGIO',
 35101795: 'BRASIL COLEGIO',
 35101990: 'NOSSA SENHORA DO SAGRADO CORACAO COLEGIO',
 35103512: 'ASSUNCAO COLEGIO EIEFM',
 35105824: 'JEAN PIAGET COLEGIO',
 35119210: 'MANOEL MARCONDES GALVAO UNIDADE II',
 35119611: 'HARMONIA COLEGIO',
 35119660: 'PRESTES MAIA INSTITUTO EDUCACIONAL',
 35120509: 'EUCLYDES DA CUNHA COLEGIO',
 35122956: 'COOPERATIVISTA DE POA COLEGIO',
 35125908: 'PAULO DE TARSO COLEGIO',
 35133152: 'COSTA ZAVAGLI COLEGIO',
 35133942: 'GUARULHOS COLEGIO INTEGRADO',
 35134120: 'CALIFORNIA JUNIOR COLEGIO',
 35139622: 'RUI BARBOSA COLEGIO',
 35142505: 'MARCO ZERO COLEGIO',
 35153692: 'ARCADIA COLEGIO',
 35155299: 'SANTA RITA COLEGIO',
 35157478: 'AUGUSTO SILVA COLEGIO',
 35158823: 'FUTURO ESCOLA DO',
 35159359: 'ANDRADE INSTITUTO EDUCACIONAL',
 35173666: 'POLIEDRO COLEGIO',
 35176597: 'ADVENTUS COLEGIO',
 35439642: 'DOM BOSCO SANTO ANDRE UNIDADE III COLEGIO',
 35440310: 'ALEXANDRE DUMAS COMPLEXO EDUCACIONAL',
 35801458: 'FUTURA COLEGIO',
 35807825: 'SHANGRI LA COLEGIO',
 35812031: 'VIVARE COLEGIO',
 35812912: 'CRIACAO COLEGIO'}

In [164]:
nome = ['TEOTONIO ALVES PEREIRA', 'THAMARA CORREA DE MATOS', 'BRASILIO FLORES DE AZEVEDO', 'OSWALDO SAMMARTINO']

for n in nome:
        if n in relacao_escolas.values():
            print(n, ' E S T Á na relação')
        else:
            print(n, ' N Ã O está na relação')

TEOTONIO ALVES PEREIRA  E S T Á na relação
THAMARA CORREA DE MATOS  N Ã O está na relação
BRASILIO FLORES DE AZEVEDO  N Ã O está na relação
OSWALDO SAMMARTINO  N Ã O está na relação