# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte III - Avaliação </span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">sales1000.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">sales1000.csv</font> possui informações relativas à venda de produtos. As colunas abaixo são de particular importância para solução dos exercícios:
- *Country*: país da venda
- *Item Type*: tipo do produto vendido no país
- *Units Sold*: quantidade vendida
- *Unit Price*: preço de venda
- *Unit Cost*: preço de custo
- *Total Profit*: lucro total

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('sales1000.csv')

In [35]:
df.shape

(1000, 14)

### Exercício 1)
Agrupe os elementos da base de dados armazenada no arquivo <font style="font-family: monaco">sales1000.csv</font> de acordo com os países.
Quantos produtos diferentes o país 'Japan' vende?

a) 8<br>
b) 7<br>
<font color='red'>c) 6</font><br>
d) 5

In [5]:
# Agrupando por país
paises = df.groupby('Country')

# Usando o método .get_group() para selecionar o país do grupo 'paises'
japan = paises.get_group('Japan')

# Selecionando 'Item Type' para exibir os items vendidos e len(unique()) e nunique() a quantidade de ítens únicos
print('Items vendidos pelo Japão:\n', japan['Item Type'])
print('Número de produtos distintos - Japão:', len(japan['Item Type'].unique()))
print('Número de produtos distintos - Japão:', japan['Item Type'].nunique())

Items vendidos pelo Japão:
 3             Cereal
168        Beverages
342        Baby Food
398        Cosmetics
536        Cosmetics
555    Personal Care
627             Meat
901        Cosmetics
Name: Item Type, dtype: object
Número de produtos distintos - Japão: 6
Número de produtos distintos - Japão: 6

### Exercício 2)
Considerando todas as vendas de um país, qual o país com o menor lucro total?

<font color='red'>a) Cameroon</font><br>
b) Japan<br>
c) Australia<br>
d) Cuba

In [17]:
# Agrupando por país com groupby()
# selecionando 'Total Profit' para ser exibido
# aplicando sum() para exibir a soma

lucro_total = df.groupby('Country')['Total Profit'].sum()
lucro_total

Country
Afghanistan     1365407.10
Albania         3143068.34
Algeria         2235989.24
Andorra         2143268.87
Angola          4541144.42
                   ...
Vatican City     650282.65
Vietnam         3466171.60
Yemen           3677655.83
Zambia           729935.20
Zimbabwe        1543572.91
Name: Total Profit, Length: 185, dtype: float64

In [14]:
# aplicando min() para exibir o mínimo da soma
print('Menor lucro total:', lucro_total.min())
# aplicando idxmin() para exibir o mínimo da soma
print('País com Menor lucro total:', lucro_total.idxmin())

Menor lucro total: 34407.36
País com Menor lucro total: Cameroon

In [15]:
# confirmando os valores selecionados para o país Cameroon
df.loc[df['Country']=='Cameroon',:]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
157,Sub-Saharan Africa,Cameroon,Snacks,Online,C,7/16/2013,376456248,8/1/2013,624,152.58,97.44,95209.92,60802.56,34407.36

### Exercício 3)
Quais países vendem mais que sete produtos distintos? 

<font color='red'>a) Cuba e Belarus</font><br>
b) Cuba<br>
c) Cuba e Australia<br>
d) Romania e Angola

In [16]:
# Usando groupby para agrupar por 'Country'
# Usando nunique() para quantificar os 'Item Type' distintos
mais_produtos = df.groupby(['Country'])['Item Type'].nunique()
mais_produtos

Country
Afghanistan     4
Albania         6
Algeria         5
Andorra         6
Angola          7
               ..
Vatican City    4
Vietnam         6
Yemen           4
Zambia          2
Zimbabwe        6
Name: Item Type, Length: 185, dtype: int64

In [24]:
# verificando os países que vendem sete produtos distintos

mais_produtos.loc[mais_produtos>7]

Country
Belarus    8
Cuba       8
Name: Item Type, dtype: int64

In [25]:
# aplicando max() para exibir o máximo da soma
print('Maior número de produtos distintos:', mais_produtos.max())
# aplicando idxmax() para exibir o máximo da soma
# idxmax() retorna apenas a primeira ocorrência
print('Primeira ocorrência de País com Maior número de produtos distintos:', mais_produtos.idxmax())

Maior número de produtos distintos: 8
Primeira ocorrência de País com Maior número de produtos distintos: Belarus

### Exercício 4)
Qual o país com a maior diferença entre a maior quantidade e a menor quantidade de produtos vendidos? Por exemplo, 'Tonga' vende os seguintes quantidades de produtos:
```python
Household  8635
Beverages  9367
Meat       9633
Fruits     7124
Meat       3499
```
Portando, a diferença entre a maior e a menor quantidade de produtos vendidos é $$9633-3499=6134$$ Qual o país com a maior diferença?

a) Tonga<br>
<font color='red'>b) Cape Verde </font><br>
c) Romania<br>
d) Cuba

In [31]:
# Checando o exemplo de Tonga
tonga = df[['Country', 'Item Type','Units Sold']].loc[df['Country']=='Tonga']
tonga

    Country  Item Type  Units Sold
92    Tonga  Household        8635
110   Tonga  Beverages        9367
205   Tonga       Meat        9633
312   Tonga     Fruits        7124
392   Tonga       Meat        3499

In [33]:
tonga['Units Sold'].max() - tonga['Units Sold'].min()

6134

In [51]:
# Agrupando por países com groupby()
# Restringindo o método 'transform' à coluna 'Units Sold'
delta_vendidos = df.groupby('Country')['Units Sold'].transform(lambda x: (x.max()-x.min()))
delta_vendidos

0      8382
1      1995
2      8382
3      9640
4      9651
       ...
995    4905
996    8477
997    7927
998    9712
999    8583
Name: Units Sold, Length: 1000, dtype: int64

In [36]:
# verificando o resultado para o país 'Tonga' por um dos seus índices
print(delta_vendidos.iloc[[92,110,205,312,392]])

92     6134
110    6134
205    6134
312    6134
392    6134
Name: Units Sold, dtype: int64

In [53]:
print('Maior delta:', delta_vendidos.max())
print('Índice do país maior delta:', delta_vendidos.idxmax())
print('País com maior delta:', df['Country'].iloc[delta_vendidos.idxmax()])

Maior delta: 9775
Índice do país maior delta: 18
País com maior delta: Cape Verde

In [64]:
# Solução alternativa com apply
# agrupando pela coluna 'Country' 
# usando apply() na coluna 'Units Sold' para calular o delta entre max e min valores
# e retornando os deltas ordenados
max_min = df.groupby('Country')['Units Sold'].apply(lambda x: (x.max()-x.min()))
print(max_min.sort_values(ascending=False))

# menor diferença em cada grupo
print('\nMaior diferença:', max_min.max())
print('País com maior diferença:', max_min.idxmax())

Country
Cape Verde    9775
Finland       9712
Belgium       9682
Chad          9651
Japan         9640
              ...
Kuwait         714
Nauru          459
Kosovo           0
Malta            0
Cameroon         0
Name: Units Sold, Length: 185, dtype: int64

Maior diferença: 9775
País com maior diferença: Cape Verde

### Exercício 5)
O lucro de um produto é a diferença entre o preço de venda e o de custo. Qual o produto que fornece o menor lucro médio?

a) Baby Food<br>
<font color='red'>b) Fruits</font><br>
c) Household<br>
d) Cosmetics

In [65]:
# Acrescentando uma nova coluna ao dataframe original
df['Unit Profit'] = df['Unit Price'] - df['Unit Cost']
df['Unit Profit']

0      173.87
1       63.13
2       95.86
3       88.59
4        2.41
        ...
995     55.14
996     95.86
997     63.13
998    165.73
999     88.59
Name: Unit Profit, Length: 1000, dtype: float64

In [73]:
# Agrupando por produto 'Item Type' com groupby()
# Restringindo os cálculos à coluna 'Unit Profit' e aplicando mean()
produtos = df.groupby('Item Type')['Unit Profit'].mean()
print('Tabela Item por Lucro Unitário:', produtos.sort_values())
print('\nProduto com menor lucro unitário médio:', produtos.idxmin())

Tabela Item por Lucro Unitário: Item Type
Fruits               2.41
Beverages           15.66
Personal Care       25.06
Snacks              55.14
Meat                57.20
Vegetables          63.13
Clothes             73.44
Cereal              88.59
Baby Food           95.86
Office Supplies    126.25
Household          165.73
Cosmetics          173.87
Name: Unit Profit, dtype: float64

Produto com menor lucro unitário médio: Fruits